  <h2 class='public-recipe-heading'>Public Recipes</h2>
  <% @recipes.each do |recipe|%>
    <div>
            <%= link_to recipe_path(recipe.id), class: "public-recipe-card" do %>
                <div class="public-recipe">
                <div class="">
                    <h3 class=""><%= recipe.name %></h3>
                    <p class="">By: <%= recipe.user.name %></p>
                </div>
                    <article>
                        <p><strong>Total Food Items:</strong> <%= recipe.foods.count %></p>
                        <p><strong>Total Price:</strong> $<%= recipe.recipe_foods.sum { |rf| rf.food.price * rf.quantity } %></p>
                   </article>
                </div>
        <% end %>
    </div>
  <% end %>
